	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/09/2020 19:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-24-hours-support:before { content: "\f100"; }
.flaticon-happy:before { content: "\f101"; }
.flaticon-psychologist:before { content: "\f102"; }
.flaticon-24-hours-support-1:before { content: "\f103"; }
.flaticon-envelope:before { content: "\f104"; }
.flaticon-family:before { content: "\f105"; }
.flaticon-relationship:before { content: "\f106"; }
.flaticon-psychosis:before { content: "\f107"; }
.flaticon-sweat:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-date:before { content: "\f10a"; }
.flaticon-quotation:before { content: "\f10b"; }
.flaticon-history:before { content: "\f10c"; }
.flaticon-support:before { content: "\f10d"; }
.flaticon-house:before { content: "\f10e"; }
.flaticon-recovered:before { content: "\f10f"; }
.flaticon-medal:before { content: "\f110"; }
.flaticon-support-1:before { content: "\f111"; }
.flaticon-email:before { content: "\f112"; }