/*----------------------------------------*/
/*  08. APPOINTMENT CSS START
/*----------------------------------------*/

.appointment{
    &__area{
        &-inner{
            margin-top: -145px;
            @include box-shadow(0px 10px 30px 0px rgba(0, 49, 43, 0.05));
            &-2{
                margin-top: 0px;
            }
        }
    }
    &__form{
        &-wrapper{
            & h1{
                background-color: $green-2;
                font-size: 50px;
                padding: 40px 55px;
                padding-bottom: 55px;
                color: $white;
                margin-bottom: 0;
            }
        }
        &-inner{
            padding: 50px 38px;
            background-color: $pink;
            & input,
            & textarea{
                width: 100%;
                height: 70px;
                line-height: 70px;
                background-color: #f9b89c;
                padding: 0 20px;
                border: none;
                margin-bottom: 20px;
                color: $white;
                font-size: 15px;
                @include border-radius(3px);
                &::placeholder{
                    color: $white;
                    font-size: 15px;
                    text-transform: capitalize;
                }
            }
            & textarea{
                height: 140px;
                resize: none;
            }
            .sub-btn{
                width: 100%;
                height: 70px;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                color: $white;
                text-align: center;
                background-color: $green-2;
                @include border-radius(3px);
                &:hover{
                    background-color: $green;
                    color: $white;
                }
            }
        }
    }
    &__counter{
        padding: 70px 40px;
        padding-bottom: 50px;
        &-item{
        }
        & .single-counter{
            & p{
                font-size: 60px;
                line-height: 1;
                color: $pink;
                margin-bottom: 0;   
                margin-bottom: 15px;
                & span{
                    font-size: 60px;
                }
            }
            & span{
                font-size: 27px;
            }
        }
    }
    &__award{}
    &__award-list{
        & .single-award{
            & .award-icon{}
            & .award-text{
                & h3{
                    margin-bottom: 15px;
                }
                & span{}
            }
        }
    }
    &__mission{
        &-thumb{
            margin-bottom: 34px;
            & .play-icon{
                top: 50%;
                left: 50%;
                @include transform(translate(-50%,-50%));
            }
        }
        &-text{
            & h3{
                margin-bottom: 17px;
            }
            & p{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__info{
        & p{
            margin-bottom: 34px;
        }
        & ul{
            & li{
                display: block;
                margin-bottom: 17px;
                &:last-child{
                    margin-bottom: 0;
                }
                & span,
                a{
                    color: $green;
                    font-weight: 500;
                    & i{
                        color: $pink;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}