/*----------------------------------------*/
/*  09. CASE CSS START
/*----------------------------------------*/

.case{
    &__area{
        @include background();
    }
    &__slider{}
    &__item{
        &:hover{
            & .case__thumb{
                & img{
                    @include transform(scale(1.1));
                }
            }
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .3);
        }
        &.slick-slide.slick-center{
            &::before{
                display: none;
            }
            & .case__content{
                bottom: 20px;
                visibility: visible;
                opacity: 1;
            }
        }
        &-2{
            &:hover{
                & .case__thumb-2{
                    & img{
                        @include transform(scale(1.1));
                    }
                    &::after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                & .case__content-2{
                    p,
                    a{
                        color: $white;
                        &::after,
                        &::before{
                            color: $white;
                        }
                    }
                    & h3{
                        color: $white;
                        & a{
                            &:hover{
                                color: $pink;
                            }
                        }
                    }
                    &::before{
                        height: 100%;
                        @include transition(.5s);
                        -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
                        transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
                    }
                }
            }
        }
    }
    &__thumb{
        overflow: hidden;
    }
    &__thumb-2{
        position: relative;
        overflow: hidden;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .3);
            visibility: hidden;
            opacity: 0;
        }
    }
    &__content{
        bottom: -20px;
        left: 20px;
        border-left: 4px solid $pink;
        visibility: hidden;
        opacity: 0;
        padding: 30px;
        z-index: 1;
        & h3{
            font-size: 30px;
            padding-right: 70px;
            & a{
                &:hover{
                    color: $pink;
                }
            }
        }
        & a.plus-btn{
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            color: $white;
            font-size: 30px;
            background-color: $green-2;
            &:hover{
                background-color: $pink;
                color: $white;
            }
        }
        &-2{
            padding: 35px 30px;
            padding-bottom: 30px;
            margin-top: 10px;
            z-index: 1;
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: $green-2;
                z-index: -1;
            }
            & h3{
                margin-bottom: 17px; 
            }
            & p{
                margin-bottom: 10px;
            }
        }
    }
    &__menu{
        & button{
            background: transparent;
            font-size: 18px;
            text-transform: capitalize;
            margin-right: 38px;
            margin-bottom: 25px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background: $green-2;
                visibility: hidden;
                opacity: 0;
                @include transition(.2s);
            }
            &:hover{
                color: $green-2;
                &::before{
                    bottom: 2px;
                    visibility: visible;
                    opacity: 1;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            &.active{
                color: $green-2;
                &::before{
                    bottom: 2px;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &__details-item{
        & h3{
            font-size: 30px;
            margin-bottom: 24px;
        }
        &.process{
            & p{
                margin-bottom: 40px;
            }
            margin-bottom: 5px;
        }
        &.video{
            & p{
                margin-bottom: 35px;
            }
        }
    }
    &__details-video{
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
        &-btn{
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $green-2, $alpha: .8);
        }
    }
    &__head{
        & h2{
            font-size: 50px;
            margin-bottom: 35px;
        }
        & p{
            margin-bottom: 33px;
        }
    }
    &__details-sidebar{}
}