/*----------------------------------------*/
/*  10. CLIENT CSS START
/*----------------------------------------*/

.client{
    &__area{
        @include background();
    }
    &__slider{
        & .owl-stage {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__thumb{
        opacity: .6;
        @include transition(.3s);
        & img{
            display: inline-block;
            width: inherit !important;
            margin: auto;
        }
        &:hover{
            opacity: 1;
        }
    }
}