/*----------------------------------------*/
/*  12. CONTACT CSS START
/*----------------------------------------*/

.contact{
    &__area{}
    &__area-3{
        @include background();
    }
    &__wrapper{}
    &__form{}
    &__input{
        width: 100%;
        border: 1px solid transparent;
        height: 70px;
        line-height: 70px;
        padding: 0 20px;
        font-size: 15px;
        color: $white;
        background-color: rgba($color: $white, $alpha: .2);
        @include border-radius(3px);
        margin-bottom: 24px;
        &::placeholder{
            color: $white;
            font-size: 15px;
            text-transform: capitalize;
        }
        &:focus{
            border-color: $white;
        }
        &.nice-select{
            & span{
                font-size: 15px;
            }
            & ul{
                width: 100%;
                & li{
                    display: block;
                    color: $green;
                }
            }
            &::after{
                border-color: $white;
                right: 20px;
            }
        }
        &.txt-area{
            height: 150px;
            padding: 20px;
            resize: none;
            line-height: 1;
            margin-bottom: 25px;
        }
        &-3{
            background-color: $white;
            color: #999999;
            &::placeholder{
                color: #999999;
            }
            &.nice-select{
                &::after{
                    border-color: $green-2;
                }
            }
        }
        &-4{
            background-color: $grey-3;
            &:focus{
                border-color: $green-2;
            }
        }
    }
    &__map-wrapper{
        margin-top: -210px;
        width: 100%;
        height: 885px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-left: 60px;
        & iframe{
            width: 100%;
            height: 100%;
        }
    }
    &__icon{
        & span{
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            @include border-radius(50%);
            background-color: $pink;
            &::before{
                font-size: 40px;
                color: $white;
            }
        }
    }
    &__info{
        z-index: 1;
        &-inner{
            padding: 85px 70px;
            padding-bottom: 50px;
            @include border-radius(10px);
        }
        &-content{
            & h3{
                color: $white;
                margin-bottom: 13px;
            }
            & span{
                color: $white;
                display: block;
            }
        }
    }
    &__map{
        width: 100%;
        height: 750px;
        & iframe{
            width: 100%;
            height: 100%;
        }
    }
}
