/*----------------------------------------*/
/*  06. SERVICES CSS START
/*----------------------------------------*/

.services{
    &__item{
        &:hover{
            & .services__overlay{
                left: 10px;
                top: 50%;
                visibility: visible;
                opacity: 1;
            }
            & .services__content{
                visibility: hidden;
                opacity: 0;
            }
            & .services__thumb::after{
                left: 10px;
                top: -10px;
                visibility: visible;
                opacity: 1;
            }
            & .services__thumb{
                & img{
                    @include transform(scale(1.1));
                }
            }
        }
        &-2{
            border: 1px solid #e5e8e8;
            padding: 47px 35px;
            padding-bottom: 30px;
            @include border-radius(5px);
            position: relative;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $pink;
                @include border-radius(5px);
                z-index: -1;
            }
            &:hover{
                background-color: $green-2;
                border-color: $green-2;
                &::after{
                    top: 10px;
                    left: 10px;
                }
                & .services__icon{
                    & span{
                        background-color: $pink;
                        &::after{
                            background-color: rgba($color: $pink, $alpha: .5)
                        }
                    }
                }
                & .services__content-2{
                    & h3{
                        color: $white;
                    }
                    & p{
                        color: $white;
                    }
                    & a.link-btn{
                        color: $white;
                        &::after,
                        &::before{
                            color: $white;
                        }
                    }
                }
            }
        }
        &-3{
            border: 2px solid #e6eaea;
            padding: 37px;
            padding-bottom: 32px;
            &:hover{
                border-color: $green-2;
                &::before{
                    top: -10px;
                }
                & .services__icon-3{
                    & span{
                        &::after{
                            border-color: $pink;
                            background: transparent;
                        }
                    }
                }
            }
        }
        &-4{
            padding: 37px 24px;
            padding-bottom: 35px;
            @include box-shadow(0px 5px 30px 0px rgba(0, 46, 40, 0.08));
            &:hover{
                box-shadow: none;
            }
        }
    }
    &__icon{
        & span{
            position: relative;
            display: inline-block;
            width: 98px;
            height: 98px;
            line-height: 98px;
            text-align: center;
            background-color: $green-2;
            @include border-radius(50%);
            z-index: 1;
            &::before{
                font-size: 50px;
                color: $white;
            }
            &::after{
                position: absolute;
                content: '';
                top: -10px;
                right: -10px;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $green-2, $alpha: .5);
                @include border-radius(50%);
                z-index: -1;
            }
        }
    }
    &__icon-3{
        & span{
            &::after{
                right: 5px;
                background: transparent;
                border: 1px solid $green-2;
            }
        }
    }
    &__thumb{
        overflow: hidden;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $pink, $alpha: .9);
            visibility: hidden;
            opacity: 0;
        }
    }
    &__content{  
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $green-2;
        padding: 0 30px;
        padding-right: 0;
        &-2{           
            & h3{
                margin-bottom: 25px;
            }
            & p{}
        }
        &-3{
            & h3{
                margin-bottom: 10px;
            }
        }
    }
    &__content-inner{
        padding-top: 18px;
        padding-bottom: 22px;
        & h3{
            float: left;
            color: $white;
            margin-bottom: 0;
        }
        & a{
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            height: 67px;
            line-height: 70px;
            font-size: 18px;
            text-align: center;
            background-color: $pink;
            color: $white;
        }
    }
    &__overlay{
        top: 60%;
        left: 0;
        right: 0;
        padding: 0 50px;
        width: 100%;
        @include transform(translateY(-50%));
        visibility: hidden;
        opacity: 0;
        & h3{
            color: $white;
            margin-bottom: 23px;
        }
        & p{
            color: $white;
            margin-bottom: 35px;
        }
    }
    &__history{

    }
    &__history-item{
        &:hover{
            & .services__history-year{
                & h2{
                    background-color: $pink;
                    &::after{
                        border-color: $pink;
                    }
                }
            }
        }
    }
    &__history-year{
        & h2{
            position: relative;
            font-size: 36px;
            color: $white;
            height: 95px;
            width: 95px;
            line-height: 88px;
            @include border-radius(50%);
            background-color: $green-2;
            text-align: center;
            margin-bottom: 0;
            display: inline-block;
            &::after{
                position: absolute;
                content: '';
                top: -10px;
                right: 5px;
                width: 100%;
                height: 100%;
                @include border-radius(50%);
                border: 1px solid $green-2;
                z-index: -1;
            }
        }
    }
    &__history-content{
        & h3{
            margin-bottom: 25px;
            &:hover{
                & a{
                    color: $pink;
                }
            }
        }
    }
    &__support{
        padding: 85px 80px;
        padding-bottom: 95px;
        @include background();
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $green-2, $alpha: .8);
        }
        & h1{
            font-size: 50px;
            color: $white;
            margin-bottom: 50px;
        }
    }
    &__appointment{
        padding: 50px 40px;
    }
    &__appointment-form{
        & input,
        & textarea{
            width: 100%;
            height: 60px;
            padding: 0 20px;
            border: 1px solid #dde0e0;
            @include border-radius(3px);
            margin-bottom: 10px;
            &:focus{
                border-color:$green-2;
            }
            &::placeholder{
                color: #999999;
            }
        }
        & textarea{
            height: 130px;
            resize: none;
            padding: 15px 20px;
        }
        & .nice-select{
            border: 1px solid #dde0e0;
            width: 100%;
            margin-bottom: 10px;
            height: 60px;
            line-height: 60px;
            padding: 0 20px;
            background-color: $white;
            &:focus{
                border-color: $green-2;
            }
            &::after{
                right: 20px;
            }
            & ul{
                width: 100%;
                & li{
                    display: block;
                }
            }
        }
        & button{
            width: 100%;
        }
    }
    &__des-title{
        & h1{
            font-size: 50px;
            margin-bottom: 25px;
        }
    }
    &__des-item{
        & h3{
            font-size: 30px;
            margin-bottom: 25px;
        }
        & > p{
            margin-bottom: 33px;
        }
    }
    &__des-video{
        & > p{
            margin-bottom: 35px;
        }
    }
    &__des-video-img{
        width: 100%;
        height: 295px;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $green-2, $alpha: .8);
        }
        & a{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
}