/*----------------------------------------*/
/*  13. TESTIMONIAL CSS START
/*----------------------------------------*/

.testimonial{
    &__area{ }
    &__slider{
        & .owl-nav div{
            position: absolute;
            top: 50%;
            left: -115px;
            @include transform(translateY(-50%));
            & button{
                height: 44px;
                width: 44px;
                border: 2px solid $green-2;
                color: $green-2;
                background: transparent;
                @include border-radius(50%);
                &:hover{
                    border-color: $pink;
                    color: $pink;
                }
            }
            &.owl-next{
                right: -115px;
                left: auto;
            }
        }
        &-2{
            & .owl-nav{
                position: absolute;
                top: -177px;
                right: 0;
                display: flex;
                & div{
                    & button{
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        color: $black-soft;
                        background-color: $pink-soft;
                        @include border-radius(50%);
                        &:hover{
                            color: $white;
                            background-color: $pink;
                        }
                    }
                    &.owl-prev{
                        margin-right: 10px;
                    }
                }
            }
        }
        &-3{
            & .owl-nav{
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                & div{
                    & button{
                        color: $green-2;
                        font-size: 35px;
                        background: transparent;
                        margin-left: 30px;
                        position: relative;
                    }
                    &.owl-next{
                        & button{
                            &::after{
                                position: absolute;
                                content: '';
                                left: -20px;
                                top: 12px;
                                width: 10px;
                                height: 10px;
                                background: $pink;
                                @include border-radius(50%);
                            }
                        }
                    }
                }
            }
        }
        &-4{
            & .owl-nav{
                & button{
                    background: $white;
                    @include box-shadow(0px 5px 30px 0px rgba(0, 100, 87, 0.1));
                }
            }
        }
    }
    &__img{
        left: 0;
        top: 0;
        width: 42%;
        height: 100%;
        &-2{
            left: auto;
            right: 0;
        }
    }
    &__bg-pattern{
        top: 0;
        right: 0;
        width: 58%;
        height: 100%;
    }
    &__item{
        &-2{
            border: 1px solid $pink;
        }
        &-inner{
            padding: 30px 40px;
            border: 18px solid $white;
            
            & p{
                color: $white;
                margin-bottom: 0;
            }
        }
    }
    &__quote{
        top: 40px;
        right: 40px;
        & img{
            width: 110px !important;
            height: 90px !important;
        }
        &-2{
            bottom: -20px;
            right: -20px;
            & span{
                display: inline-block;
                width: 130px;
                height: 130px;
                line-height: 130px;
                text-align: center;
                background-color: $white;
                @include border-radius(50%);
                @include transform(scale(-1, 1));
                &::before{
                    color: $pink;
                    font-size: 60px;
                }
            }
        }
    }
    &__content{
        padding: 38px 37px;
        @include box-shadow(0px 10px 20px 0px rgba(0, 37, 32, 0.08));
        & p{
            margin-bottom: 5px;
            font-size: 18px;
            line-height: 32px;
        }
        & .rating{
            & ul{
                & li{
                    margin-right: 4px;
                    &:last-child{
                        & a{
                            color: #cdd0cf;
                        }
                    }
                    & a{
                        font-size: 15px;
                        color: $pink;
                    }
                }
            }
        }
    }
    &__person{
        padding: 23px 40px;
        background-color: $green-2;
        &-2{
            padding-left: 0;
            padding-bottom: 10px;
        }
        &-3{
            background: transparent;
            padding-left: 0;
        }
    }
    &__avater{
        margin-right: 23px;
        & img{
            width: inherit !important;
        }
        &-2{
            & img{
                width: inherit !important;
            }
        }
    }
    &__info{
        h3{
            color: $white;
        }
        & span{
            color: $white;
        }
        &-3{
            & h3{
                color: $green;
            }
            & span{
                color: $body-text-color;
            }
        }
    }
    &__video{
        bottom: 0;
        right: 0;
        padding: 25px 45px;
        background-color: rgba($color: $green-2, $alpha: .9);
        & h3{
            font-size: 30px;
            margin-bottom: 0;
            margin-right: 45px;
            color: $white;
            display: inline-block;
        }
    }
    &__shape{
        top: -132px;
        left: 108px;
        &-2{
            top: 72%;
            left: 5px;
        }
    }
}